<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0" initialized="True">
	<connectionStrings>
		<add connectionString="Data Source=myServerAddress;Initial Catalog=SitefinityBugTrackerSample;Integrated Security=True;Connect Timeout=2;User Instance=False" providerName="System.Data.SqlClient" dbType="MsSql" name="Sitefinity" />
	</connectionStrings>
	<urlEvaluators>
		<add description="ForumsEvaluatorDescription" resourceClassId="ForumsResources" type="Telerik.Sitefinity.Forums.Web.ForumsEvaluator, Telerik.Sitefinity.Forums" enabled="True" name="Forums" />
	</urlEvaluators>
</dataConfig>