<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0" initialized="True" guidGenerationStrategy="Incremental">
	<databaseMappingOptions>
		<azureOptions useMsSqlIdentifierLimitations="False" />
	</databaseMappingOptions>
	<connectionStrings>
		<add connectionString="Data Source=.;Initial Catalog=SitefinityBugTrackerSample;Integrated Security=True;" name="Sitefinity" />
	</connectionStrings>
	<urlEvaluators>
		<add description="ForumsEvaluatorDescription" resourceClassId="ForumsResources" type="Telerik.Sitefinity.Forums.Web.ForumsEvaluator, Telerik.Sitefinity.Forums" name="Forums" />
	</urlEvaluators>
</dataConfig>