<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0" initialized="True">
	<databaseMappingOptions>
		<azureOptions useMsSqlIdentifierLimitations="False" />
	</databaseMappingOptions>
	<connectionStrings>
		<add connectionString="data source=DPENEV\SQLSERVER;UID=sa;PWD=sa;initial catalog=SitefinityBugTrackerSample" providerName="System.Data.SqlClient" dbType="MsSql" name="Sitefinity" />
	</connectionStrings>
	<urlEvaluators>
		<add description="ForumsEvaluatorDescription" resourceClassId="ForumsResources" type="Telerik.Sitefinity.Forums.Web.ForumsEvaluator, Telerik.Sitefinity.Forums" enabled="True" name="Forums" />
	</urlEvaluators>
</dataConfig>