<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" multilingualMode="Automatic" viewName="BugBackendInsertView" config:flags="1">
	<toolbar>
		<sections>
			<section name="BackendForm" config:flags="1">
				<items>
					<item commandName="preview" commandButtonType="Standard" isFilter="False" openInSameWindow="False" text="Preview" resourceclassid="Labels" wrapperTagKey="Span" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="PreviewWidgetElement" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
		</sections>
	</toolbar>
	<sections>
		<remove name="HeaderSection" />
		<sections cssClass="sfItemHeaderSection" wrapperTag="Div" isHiddenInTranslationMode="False" name="HeaderSection">
			<fields>
				<field id="warningsField" wrapperTag="Li" fieldType="Telerik.Sitefinity.Web.UI.Fields.WarningField, Telerik.Sitefinity" fieldName="warningsField" type:this="Telerik.Sitefinity.Web.UI.Fields.Config.WarningFieldElement, Telerik.Sitefinity">
					<validator expectedFormat="None" maxLength="-1" minLength="-1" required="False" validateIfInvisible="True" />
					<expandableDefinition expanded="True" />
				</field>
			</fields>
			<expandableDefinition expanded="True" />
		</sections>
		<sections name="MainSection" config:flags="1">
			<fields>
				<field EditorStripFormattingOptions="MSWord, Css, Font, Span, ConvertWordLists" fieldName="Description" config:flags="1" />
			</fields>
		</sections>
		<sections name="MoreOptions" config:flags="1">
			<fields>
				<field fieldName="UrlName" config:flags="1">
					<validator regularExpression="^[\p{L}\-\!\$\(\)\=\@\d_\'~\.]*[\p{L}\-\!\$\(\)\=\@\d_\'~]+$" />
				</field>
			</fields>
		</sections>
		<sections name="SidebarSection" config:flags="1">
			<fields>
				<remove fieldName="ItemStatisticsField" />
				<field fieldType="Telerik.Sitefinity.Web.UI.Fields.ContentWorkflowStatusInfoField, Telerik.Sitefinity" fieldName="ItemWorkflowStatusInfoField" config:flags="1" />
			</fields>
		</sections>
	</sections>
</view>