<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" viewName="BugBackendList" config:flags="1">
	<dialogs>
		<add name="ContentViewEditDialog" openOnCommand="preview" height="100%" width="100%" initialBehaviors="Maximize" behaviors="None" autoSizeBehaviors="Default" isfullscreen="False" visiblestatusbar="False" visibletitlebar="False" params="?ControlDefinitionName=Telerik.Sitefinity.DynamicTypes.Model.BugTracking.BugBackendDefinition&amp;ViewName=BugBackendPreviewView" ismodal="False" destroyOnClose="False" ReloadOnShow="False" cssclass="sfMaximizedWindow" id="ContentViewEditDialog on preview" />
	</dialogs>
	<viewModes>
		<add Name="Grid" config:flags="1">
			<columns>
				<add clientTemplate="&lt;a sys:href='javascript:void(0);' sys:class=&quot;{{ 'sf_binderCommand_edit sfItemTitle sf' + Lifecycle.WorkflowStatus.replace(' ','').toLowerCase()}}&quot;&gt;&lt;strong&gt;{{Title}}&lt;/strong&gt;&lt;span class='sfStatusLocation'&gt;{{Lifecycle.Message}}&lt;/span&gt;&lt;/a&gt;" name="Title" config:flags="1" />
				<add name="Actions" config:flags="1">
					<menuItems>
						<menuItem resourceclassid="ModuleBuilderResources" name="Permissions" config:flags="1" />
						<menuItem text="DuplicateDetailsViewTitle" resourceclassid="ModuleBuilderResources" name="Duplicate" config:flags="1" />
					</menuItems>
				</add>
			</columns>
		</add>
	</viewModes>
	<links>
		<add navigateUrl="[node:5c77b421-a2de-4310-9fb8-1f3e0fa06e0a]" name="backToContentTypeParent" config:flags="1" />
	</links>
	<toolbar>
		<sections>
			<section name="toolbar" config:flags="1">
				<items>
					<item text="Search" name="SearchItemWidget" config:flags="1" />
				</items>
			</section>
		</sections>
	</toolbar>
	<sidebar>
		<sections>
			<section name="Filter" config:flags="1">
				<items>
					<item commandName="showMasterItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="Draft" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="DraftTelerik.Sitefinity.DynamicTypes.Model.BugTracking.Bug" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
					<item commandName="showPublishedItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="Published" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="PublishedTelerik.Sitefinity.DynamicTypes.Model.BugTracking.Bug" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
					<item commandName="showScheduledItems" commandButtonType="SimpleLinkButton" isFilter="False" openInSameWindow="False" text="Scheduled" resourceclassid="ModuleBuilderResources" wrapperTagKey="Unknown" widgetType="Telerik.Sitefinity.Web.UI.Backend.Elements.Widgets.CommandWidget, Telerik.Sitefinity" isSeparator="False" name="ScheduledTelerik.Sitefinity.DynamicTypes.Model.BugTracking.Bug" type:this="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.CommandWidgetElement, Telerik.Sitefinity" />
				</items>
			</section>
			<section cssClass="sfWidgetsList sfSettings" name="Settings" config:flags="1" />
			<section name="recycleBinWidget" config:flags="1">
				<items>
					<item navigateUrl="~/Sitefinity/dashboard/RecycleBin/RecycleBin#/filter/type/Telerik.Sitefinity.DynamicTypes.Model.BugTracking.Bug" name="ExternalLink2" config:flags="1" />
				</items>
			</section>
		</sections>
	</sidebar>
</view>