<?xml version="1.0" encoding="utf-8"?>
<view xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" viewName="BugBackendVersionPreview" config:flags="1">
	<sections>
		<sections name="MainSection" config:flags="1">
			<fields>
				<field EditorStripFormattingOptions="MSWord, Css, Font, Span, ConvertWordLists" fieldName="Description" config:flags="1" />
			</fields>
		</sections>
	</sections>
</view>