<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.BugTracking.BugBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="BugBackendList" configFile="DynamicModulesConfig.BgTracking.Bug_BugBackndLst.config" />
				<config:lazy key="BugBackendInsertView" configFile="DynamicModulesConfig.BgTracking.Bug_BckndInsrtVw.config" />
				<config:lazy key="BugBackendPreviewView" configFile="DynamicModulesConfig.BgTracking.Bug_gBckndPrvwVw.config" />
				<config:lazy key="BugBackendEditView" configFile="DynamicModulesConfig.BgTracking.Bug_BgBckndEdtVw.config" />
				<config:lazy key="BugBackendDuplicateView" configFile="DynamicModulesConfig.BgTracking.Bug_BckndDplctVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.BugTracking.ProjectBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="ProjectBackendList" configFile="DynamicModulesConfig.BgTracking.Project_rjctBckndLst.config" />
				<config:lazy key="ProjectBackendInsertView" configFile="DynamicModulesConfig.BgTracking.Project_BckndInsrtVw.config" />
				<config:lazy key="ProjectBackendPreviewView" configFile="DynamicModulesConfig.BgTracking.Project_tBckndPrvwVw.config" />
				<config:lazy key="ProjectBackendEditView" configFile="DynamicModulesConfig.BgTracking.Project_ctBckndEdtVw.config" />
				<config:lazy key="ProjectBackendDuplicateView" configFile="DynamicModulesConfig.BgTracking.Project_BckndDplctVw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>