<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.1.3270.0">
	<notifications formEntrySubmittedNotificationTemplateId="fc43a91e-eec4-4aac-9b6e-a35b572f3e39" />
</formsConfig>