<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5800.0">
	<notifications newPostNotificationTemplateId="2e34d157-70e8-4044-b3f7-abb3072509b4" newThreadNotificationTemplateId="e5a79a99-f186-4099-b7fa-64ee3c8db997" />
</forumsConfig>