<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0" videoTag="Object">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 120 px by smaller side" Size="120" method="ResizeFitToSideArguments" name="thumbnail" config:flags="1" />
			</thumbnails>
		</thumbnails>
	</images>
	<videos AllowedExensionsSettings=".wmv">
		<thumbnails>
			<thumbnails>
				<add default="False" name="vthumbnail" config:flags="1" />
				<add title="Thumbnail: 120 px by smaller side" Size="120" Quality="Medium" method="ResizeFitToSideArguments" default="True" name="thumbnail" />
			</thumbnails>
		</thumbnails>
	</videos>
	<blobStorage>
		<blobStorageTypes>
			<add providerType="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobStorageProvider, Telerik.Sitefinity.Azure" title="WindowsAzure" description="BlobStorageAzureTypeDescription" resourceClassId="LibrariesResources" settingsViewTypeOrPath="Telerik.Sitefinity.Azure.BlobStorage.AzureBlobSettingsView" name="Azure" />
		</blobStorageTypes>
	</blobStorage>
	<providers>
		<add enableCommentsBackwardCompatibility="True" name="OpenAccessDataProvider" config:flags="1" />
		<add enableCommentsBackwardCompatibility="True" name="SystemLibrariesProvider" config:flags="1" />
	</providers>
</librariesConfig>