<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" dateCreated="2012-07-11 16:27:25Z">
	<defaultSite id="f10824eb-78cd-425a-9797-982c6f42e4d2" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="c64b4722-a5ab-4c4f-bacd-847051a934a7" />
</projectConfig>