<?xml version="1.0" encoding="utf-8"?>
<workflowConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0">
	<workflowsTypes>
		<add title="NewsTitle" resourceClassId="NewsResources" moduleName="News" contentType="Telerik.Sitefinity.News.Model.NewsItem" />
		<add title="BlogsTitle" resourceClassId="BlogResources" moduleName="Blogs" contentType="Telerik.Sitefinity.Blogs.Model.BlogPost" />
		<add title="ModuleTitle" resourceClassId="EventsResources" moduleName="Events" contentType="Telerik.Sitefinity.Events.Model.Event" />
		<add title="Lists" resourceClassId="ListsResources" moduleName="Lists" contentType="Telerik.Sitefinity.Lists.Model.ListItem" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Project" moduleName="Bug Tracking" contentType="Telerik.Sitefinity.DynamicTypes.Model.BugTracking.Project" />
		<add serviceUrl="~/DefaultWorkflows/ApprovalWorkflow.xamlx" title="Bug" contentType="Telerik.Sitefinity.DynamicTypes.Model.BugTracking.Bug" />
	</workflowsTypes>
</workflowConfig>